// Specific CSS for your home-page

#header {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 2px;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px;
  color: #515151;
}

#header span {
    color: #41AADE;
    font-weight: 800;
}

h4 {
  font-family: 'Andada Pro', serif;
  text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.contact a {
  position: relative;
  font-size: 25px;
  color: #515151;
  margin: 30px;
}

.contact a :hover{
  transform: scale(1.5);
  transition: 0.5s; 
  color: #1E304F;
  }

.contact p {
  margin: auto 0;
}

.carousel-image {
  border-radius: 8px !important;
  max-width: 500px;
  max-height:300px;

}

.carousel-container {
  border-radius: 8px !important;
  box-shadow: 1px 1px 3px #454545;
  height: 300px;
  width: 500px;
}

ul {
  list-style: none;
}

#services {
  text-align: center;
}

figure img {
  box-shadow: 1px 1px 3px #454545 !important;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

p {
  font-size: 1.2rem;
  font-weight: 400;
}
