// Specific CSS for your home-page

#header {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 2px;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px;
  color: #515151;
}

#header span {
    color: #41AADE;
    font-weight: 800;
}

h4 {
  font-family: 'Andada Pro', serif;
  text-align: center;
}

#description {
    font-family: 'Andada Pro', serif;
    font-weight: 300;
    margin: 30px

}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact a {
  position: relative;
  font-size: 25px;
  color: #515151;
  margin: 30px;
}

.contact a :hover{
  transform: scale(1.5);
  transition: 0.5s; 
  color: #1E304F;
  }

.contact p {
  margin: auto 0;
}

.carousel-image {
  border-radius: 8px !important;
  width: 100%;
  min-height: 300px;
  max-height: 600px;
}

.carousel-container {
  border-radius: 8px !important;
  box-shadow: 2px 2px 5px #454545;
}

.navbar-bg {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #868686;
  margin-top: 25px;
  background-color: rgba($color: rgb(65, 170, 222), $alpha: 0.6);
}
