<div class="container" style= "height: 65vh;">
  <h1>Congratulations!</h1>
  <h4>You have confirmed your booking for <%=  @cruise.name %></h4>
  <h4>Please go to your profile to check your fidelity points</h4>
</div>
