<div class="inner-header bg-info">
  <div class = "d-flex flex-column justify-content-center contact">
    <div class = "d-inline">
      <ul>
        <p class="d-flex justify-content-center">Our Social Media :</p>
          <li class="d-flex justify-content-center"> 
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
          </li>
          <p class="d-flex justify-content-center">Email us :</p>
          <li class="d-flex justify-content-center">
            <a href="#"><i class="fas fa-envelope-square"></i></a>
        </li>
      </ul>
    </div>
  </div>


  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="10 24 150 25" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="70" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
  </svg>
</div>
