<h1>Welcome to Paradise Cruises Mauritius</h1>
<br>
<br><br><br>
<h2>We are actually undergoing some major constructions and will soon be back to serve you!</h2>
<p>Please come back later to enjoy our best deals!</p>
