.navbar-lewagon {
  justify-content: space-between;
  background: #CED0D9;
}

.navbar-lewagon .navbar-collapse {
  height: 5rem;
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  color: white;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 24px;
}

.navbar a:hover {
  color: #515151;
  transition: 0.3s;
}

.navbar-bg {
  box-shadow: 1px 1px 3px #515151;
  background-color: rgba($color: rgb(65, 170, 222), $alpha: 0.6) !important;
}
