.navbar-lewagon {
  justify-content: space-between;
  background: #CED0D9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(200, 200, 210, 0.6);
}
