.navbar-lewagon {
  justify-content: space-between;
  background: rgb(60, 69, 75);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(200, 200, 210, 0.6);
}
